.footer {
    background-color: #f4f5ff;
    padding-top: 50px;
}

.footer__line {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
}
.footer__line:first-child > div{
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.footer__line:last-child {
    justify-content: center;
    padding: 20px 0;
}

.footer__logo__name { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.footer__logo__name p{ 
    font-family:'Black Ops One', cursive;
    font-weight: 900;
    font-size: 70px;
}
.footer__logo__about {
    padding-top: 20px;
    font-size: 22px;
}
.footer__info p:first-child{
    font-size: 40px;
    font-weight: 700;
}
.footer__info p{
    font-size: 22px;
}

.footer__social img {
    width: 30px;
    height: auto;
}
.footer__social {
    display: flex !important;
    flex-direction: row !important;
    gap: 10px !important;
    height: 100%;
    margin-top: auto;

}